<div class="container">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Provincias
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="float-end"><button class="btn btn-sm" (click)="toggleProvinces($event)"><img src="/assets/sync.svg"
              alt="Invertir selection" /></button></div>
          <div class="btn-toolbar btn-toolbar-sm" role="toolbar">
            <app-province-filter *ngFor="let province of provinces" [item]="province"
              (toggleProvince)="provinceSelectionChanged()"></app-province-filter>
          </div>

        </div>
      </div>
    </div>
    <div class="accordion-item" [hidden]="(roads.length === 0)">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          Carreteras
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body ">
          <div class="float-end"><button class="btn btn-sm" (click)="toggleRoads()"><img src="/assets/sync.svg"
                alt="Invertir selection" /></button></div>

          <div class="btn-toolbar btn-toolbar-sm" role="toolbar">
            <app-road-filter *ngFor="let road of roads" [item]="road" (onToggleRoad)="roadSelectionChanged()"></app-road-filter>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
