<div class="container">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Provincias
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="float-end" [hidden]="(provinces.length == 0)">
            <app-swap-button (click)="toggleProvinces()"></app-swap-button>
            <br><app-select-all-button (click)="selectAllProvinces(true)"></app-select-all-button>
            <br><app-unselect-all-button (click)="selectAllProvinces(false)"></app-unselect-all-button>
          </div>
          <div class="btn-toolbar btn-toolbar-sm" role="toolbar">
            <app-province-filter *ngFor="let province of provinces" [item]="province"
              (toggleProvince)="provinceSelectionChanged()"
              [hidden]="provinces.length === 0"></app-province-filter>
          </div>
          <div class="clearfix"></div>
          <div class="spinner-border" role="status" [hidden]="provinces.length !== 0">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" [hidden]="(roads.length === 0)">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          Carreteras
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body ">
          <div class="float-end">
            <app-swap-button (click)="toggleRoads()"></app-swap-button>
            <br><app-select-all-button (click)="selectAllRoads(true)"></app-select-all-button>
            <br><app-unselect-all-button (click)="selectAllRoads(false)"></app-unselect-all-button>
          </div>
          <div class="btn-toolbar btn-toolbar-sm" role="toolbar">
            <app-road-filter *ngFor="let road of roads" [item]="road" (onToggleRoad)="roadSelectionChanged()"></app-road-filter>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
